<div>
  <h3>{{recipe.name}}</h3>
  <h5>{{recipe.cuisine}} | {{recipe.dish}}</h5>
  <h4>{{recipe.time}} min. | {{recipe.serves}} ppl.</h4>
  {{recipe.ingredients}}
  {{recipe.instructions}}
  <img src={{recipe.image}} alt={{recipe.name}} class="admin-recipe"/>

  {{#if showUpdateForm}}
    <h4>Update Recipe: {{recipe.titleListView}}</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="cuisine">Cuisine</label>
          {{input value=cuisine id="cuisine"}}
        </div>

        <div class="form-group">
          <label for="dish">Dish</label>
          {{input value=dish id="dish"}}
        </div>

        <div class="form-group">
          <label for="time">Time</label>
          {{input value=time id="time"}}
        </div>

        <div class="form-group">
          <label for="serves">Serves</label>
          {{input value=serves id="serves"}}
        </div>

        <div class="form-group">
          <label for="image">Image</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          {{input value=ingredients id="ingredients"}}
        </div>

        <div class="form-group">
          <label for="instructions">Instructions</label>
          {{input value=instructions id="instructions"}}
        </div>

        <button {{action 'update' recipe}}>Save</button>
      </form>
  {{else}}
    <button {{action 'showUpdateForm'}}>Update</button>
  {{/if}}

  <button {{action 'delete' recipe}}>Delete</button>
</div>
