<div>
  {{recipe.name}}
  {{recipe.cuisine}}
  {{recipe.dish}}
  {{recipe.time}}
  {{recipe.serves}}
  {{recipe.ingredients}}
  {{recipe.instructions}}

  {{update-recipe recipe=recipe update="update"}}
  <button class="btn delbtn" {{action 'delete' recipe}}>Delete</button>
</div>
