<div class="admin-tile">
  <div class="admin-tile-new-recipe-form">
    {{#if addNewRecipe}}
    <div class="new-recipe-title">
      <h1 class="new-recipe">New Recipe</h1>
    </div>
    <div>
      <form>
        <div class="form-group-input">
          {{input value=name id="name" placeholder="Name"}}
        </div>

        <div class="form-group-input">
          {{input value=cuisine id="cuisine" placeholder="Cuisine (e.g., Asian, Latin, etc.)"}}
        </div>

        <div class="form-group-input">
          {{input value=dish id="dish" placeholder="Dish (e.g., Hot, Cold)"}}
        </div>

        <div class="form-group-input">
          {{input value=time id="time" placeholder="Time"}}
        </div>

        <div class="form-group-input">
          {{input value=serves id="serves" placeholder="Serves"}}
        </div>

        <div class="form-group-input">
          {{input value=image id="image" placeholder="Image"}}
        </div>

        <div class="form-group-input">
          {{input value=ingredients id="ingredients" placeholder="Ingredients"}}
        </div>

        <div class="form-group-input">
          {{input value=instructions id="instructions" placeholder="Instructions"}}
        </div>

        <button {{action 'save' recipe}} class="btn-add-save">Save</button>
      </form>
    </div>
    {{else}}
    <button {{action 'recipeFormShow'}} class="btn-add">New Recipe</button>
    {{/if}}
  </div>
</div>
