
<h3>{{recipe.name}}</h3>
<h5>{{recipe.cuisine}} | {{recipe.dish}}</h5>
<h4>{{recipe.time}} min. | {{recipe.serves}} ppl.</h4>
<img src={{recipe.image}} alt={{recipe.name}} class="admin-recipe"/>
<ul>
  {{#each ingredients as |ingredient|}}
    {{ingredient-list ingredient=ingredient}}
  {{/each}}
</ul>
<h5>{{recipe.instructions}}</h5>

{{wine-pairing recipe=recipe}}
<button {{action 'addToFav' recipe}}>Add to Favorites List</button>
