<div>
  {{recipe-detail recipe=model}}
  {{display-list}}
  <button {{action 'addToFav' recipe}}>Add to Favorites List</button>
  <h3>Posted Comments:</h3>
    <ul>
      {{#each model.comments as |comment|}}
        <li>{{comment.rating}}<h4>{{comment.name}} : <span class="unbold">{{comment.comment}}</span></h4></li>
      {{/each}}
    </ul>
    {{new-comment saveComment="saveComment" recipe=model}}
</div>
  
