<div class="page-wrap">
  <div class="header-nav">
    <div class="header-nav-img">
      {{#link-to 'index'}}<img src="/img/logo-clock.png" alt="Logo" class="logo-img"/>{{/link-to}}
    </div>
    <div class="header-nav-favs">
      {{#link-to 'list'}}<h4>Favorites</h4>{{/link-to}}
      {{#link-to 'admin'}}<h4>Admin</h4>{{/link-to}}
    </div>
  </div>
  {{recipe-detail recipe=model addToFav="addToFav"}}
  {{display-list}}
  <!-- {{display-list}} -->
  <div class="comments-display">
    <div class="comments-display-title">
      <h3>Comments</h3>
    </div>
    <ul>
      {{#each model.comments as |comment|}}
        <li><h3>{{comment.rating}} <i class="fa fa-star" aria-hidden="true"></i>s</h3><h4><span class="unbold">AUTHOR:</span> {{comment.name}}</h4><h4><span class="unbold">COMMENT:</span> {{comment.comment}}</h4></li>
      {{/each}}
    </ul>
  </div>
  {{new-comment saveComment="saveComment" recipe=model}}
</div>
